.mid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.webcam {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  width: 640px;
  height: 480px;
  border-radius: 10px;
  border: 2px solid black;
}

/* #fileInput {
  position: relative;
  width: 90%;
  height: 90%;
  outline: none;
  background-color: black;
  opacity: 0%;
  display: flex;
  justify-content: center;
  cursor: pointer;
} */

